@-webkit-keyframes rotating {
  /* line 6, ../scss/style.scss */
  0% {
    -webkit-transform: rotate(-15deg);
  }

  /* line 9, ../scss/style.scss */
  50% {
    -webkit-transform: rotate(15deg);
  }

  /* line 12, ../scss/style.scss */
  100% {
    -webkit-transform: rotate(-15deg);
  }
}

/* line 18, ../scss/style.scss */
.container {
  margin-top: 20px;
}
/* line 21, ../scss/style.scss */
.container table {
  margin: 0 auto;
}

/* line 26, ../scss/style.scss */
.section {
  border: 1px solid #999;
}

/* line 30, ../scss/style.scss */
fieldset {
  margin: 2em 0;
}

/* line 34, ../scss/style.scss */
#status {
  position: fixed;
  top: -4px;
  left: 50%;
  opacity: 1;
  -webkit-transition: 0.5s top, 1s opacity;
}
/* line 41, ../scss/style.scss */
#status.upwards {
  display: block;
  top: -70px;
  opacity: 0;
}

/* line 48, ../scss/style.scss */
#popup {
  margin-top: 0.5em;
  min-width: 160px;
}
/* line 52, ../scss/style.scss */
#popup .input-group-addon {
  float: left;
  width: 40px;
  background: none;
  border: none;
  position: relative;
  left: -5px;
  margin-top: -32px;
}
/* line 61, ../scss/style.scss */
#popup .form-control {
  padding-left: 25px;
}
/* line 65, ../scss/style.scss */
#popup #export {
  display: none;
  position: fixed;
  top: 10px;
  height: 90%;
  width: 100%;
  padding: 10px;
  left: 0%;
  z-index: 9999;
  background: white;
  border: 1px solid grey;
}
/* line 76, ../scss/style.scss */
#popup #export .content {
  padding: 1em;
}
/* line 81, ../scss/style.scss */
#popup label {
  margin-top: 1em;
}
/* line 85, ../scss/style.scss */
#popup .colour-block .colour-watch {
  width: 20px;
  height: 20px;
  float: right;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  margin-top: 6px;
}
/* line 95, ../scss/style.scss */
#popup .range input {
  width: 70%;
  float: left;
}
/* line 96, ../scss/style.scss */
#popup .range span {
  font-size: 16px;
  padding: 8px;
}
/* line 103, ../scss/style.scss */
#popup .dropzone {
  border: 2px dashed #555;
  width: 100%;
  border-radius: 10px;
}
/* line 108, ../scss/style.scss */
#popup .dropzone span {
  text-align: center;
  margin: 20px auto;
  font-size: 18px;
}
/* line 113, ../scss/style.scss */
#popup .dropzone .normal {
  display: block;
}
/* line 116, ../scss/style.scss */
#popup .dropzone .hover {
  font-weight: bold;
  display: none;
}
/* line 121, ../scss/style.scss */
#popup .dropzone.dropping {
  background: #ccc;
}
/* line 123, ../scss/style.scss */
#popup .dropzone.dropping .normal {
  display: none;
}
/* line 126, ../scss/style.scss */
#popup .dropzone.dropping .hover {
  display: block;
  -webkit-animation: rotating .5s linear infinite;
}
/* line 133, ../scss/style.scss */
#popup .message {
  margin-top: 3em;
}
/* line 137, ../scss/style.scss */
#popup #content {
  margin-top: 2.5em;
}
/* line 141, ../scss/style.scss */
#popup header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 4px 0 4px 0;
}
/* line 153, ../scss/style.scss */
#popup table th {
  background: #444;
  color: #ccc;
}
/* line 157, ../scss/style.scss */
#popup table td, #popup table th {
  border: 1px solid #999;
  padding: 4px;
}
/* line 161, ../scss/style.scss */
#popup table tr.request-header td {
  background: #444;
  color: #ccc;
}
